{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Create Arena | {{ sport }}
{% endblock %}

{% block content %}
<div class="content-section">
    <h1 class="border-bottom">{{ sport }}</h1>
    {% if isstaff or isadmin %}
        <h2>Create new arena</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Cancel</button>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    {% else %}
        You are not authorized to access this page. Contact the admin if you think this is a mistake.
    {% endif %}
</div>
{% endblock %}