{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Edit Arena | {{ sport }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'sport-home' sport_id=sport.id %}">{{ sport.name.capitalize }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'arena-home' sport_id=sport.id arena_id=arena.id %}">{{ arena.name.capitalize }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
{% endblock %}

{% block content %}
<div class="content-section">
    <h1 class="border-bottom">{{ sport }}</h1>
    {% if isstaff or isadmin %}
        <h2>Edit Arena "{{ arena }}"</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Cancel</button>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    {% else %}
        You are not authorized to access this page. Contact the admin if you think this is a mistake.
    {% endif %}
</div>
{% endblock %}