{% extends 'users/base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
{% if ismember %}
    <div class="row">
        <div class="col-9">
{% endif %}
            <div class="content-section">
                <h1 class="border-bottom">Dashboard</h1>
                <h2 class="mb-0">Sports
                    {% if isstaff or isadmin %}
                        <a href="{% url 'sport-create' %}"><img src="{% static 'slots/add-icon.png' %}" width="15" height="15"></a>
                    {% endif %}
                </h2>
                <div class="d-flex flex-wrap">
                    {% for sport in sports %}
                        <div class="card my-4 mx-2 border" style="width: 15rem; border-radius: 10px;">
                            <div style="overflow: hidden; height: 150px; border-top-left-radius: 10px; border-top-right-radius: 10px;"><img class="card-img-top" src="{% static sport.cover_picture %}"></div>
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between">
                                    <h4 class="card-title mt-0">{{ sport.name }}</h4>
                                    {% if isstaff or isadmin %}
                                        <div class="dropdown">
                                            <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'slots/options-icon.png' %}" width="15" height="15"></a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="{% url 'sport-edit' sport_id=sport.id %}">Edit</a>
                                                <a class="dropdown-item text-danger" href="{% url 'sport-delete' sport_id=sport.id %}">Delete</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <a href="{% url 'sport-home' sport_id=sport.id %}">View Arenas &raquo;</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
{% if ismember %}
        </div>
        <div class="col-3 px-0">
            <div class="content-section px-3">
                <h5 class="font-weight-bold mt-2"><a style="text-decoration: none; color: grey;" href="{% url 'profile' username=user.username %}">MY BOOKINGS</a></h5>
                {% for dt,bks in bookings_by_date %}
                    <h5>{{ dt }}</h5>
                    <ul class="list-group">
                        {% for bk in bks %}
                            <li class="list-group-item">
                                <b>{{ bk.slot.arena.sport.name }}</b>: {{ bk.slot.name }}
                                <div class="d-flex justify-content-between text-muted small mt-2">
                                    <div><img src="{% static 'slots/clock-icon.png' %}" width="15" height="15"> {{ bk.slot.start_time.time }}-{{ bk.slot.end_time.time }}</div>
                                    <div><img src="{% static 'slots/location-icon.png' %}" width="12"> {{ bk.slot.arena.name }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% empty %}
                <div class="text-secondary"><b>No upcoming bookings</b></div>
                {% endfor %}
                <div class="w-100 text-right mt-4"><a href="{% url 'profile' username=user.username %}">View all &raquo;</a></div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
