{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Edit Slot | {{ sport }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'sport-home' sport_id=sport.id %}">{{ sport.name.capitalize }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'arena-home' sport_id=sport.id arena_id=arena.id %}">{{ arena.name.capitalize }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit slot "{{ slot.name.capitalize }}"</li>
    </ol>
{% endblock %}

{% block content %}
<div class="content-section">
    <h1 class="border-bottom">{{ sport }}</h1>
    <h2>{{ arena }}</h2>
    {% if isstaff or isadmin %}
        <h3>Edit Slot "{{ slot }}"</h3>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Cancel</button>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    {% else %}
        You are not authorized to access this page. Contact the admin if you think this is a mistake.
    {% endif %}
</div>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}