{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Delete Slot | {{ sport }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'sport-home' sport_id=sport.id %}">{{ sport.name.capitalize }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'arena-home' sport_id=sport.id arena_id=arena.id %}">{{ arena.name.capitalize }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete slot "{{ slot.name.capitalize }}"</li>
    </ol>
{% endblock %}

{% block content %}
<div class="content-section">
    <h1 class="border-bottom">{{ sport }}</h1>
    <h2>{{ arena }}</h2>
    {% if isstaff or isadmin %}
        <h3>Are you sure you want to delete the slot "{{ slot }}"?</h3>
        <div>The slot instance cannot be restored once deleted.</div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Cancel</button>
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    {% else %}
        You are not authorized to access this page. Contact the admin if you think this is a mistake.
    {% endif %}
</div>
{% endblock %}