{% extends 'users/base.html' %}

{% block title %}
No User found
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
{% endblock %}

{% block content %}
<div class="content-section">
    {% if exists %}
        <h1>This account is no longer active</h1>
    {% else %}
        <h1>This user does not exists</h1>
    {% endif %}
</div>
{% endblock %}