{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Change Profile Picture
{% endblock %}

{% block content %}
<div class="content-section">
    <h2>Change Profile Picture</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
        <button class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Cancel</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
{% endblock %}