{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
<div class="content-section">
    <h2>Change Password</h2>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
        <button class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Cancel</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
{% endblock %}