body{
    margin-top:5rem;
    margin-bottom: 10rem;
}

main{
    background-color: white;
}

.bg-darkb{
    background-color: #1C3879;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.smallText{
    font-size: 0.8rem;
}